#bSelect {
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
}

#bSelect:pressed{
    -fx-rotate: 45;
    -fx-background-color: red;
    -fx-text-fill: #1d1d1d;
}

#pane {
    -fx-border-color: black;
    -fx-background-color:white;
}

#viPaneBas {
    -fx-border-color: black;
    -fx-background-color:white;
}


#paneNim {
    -fx-border-color: black;
    -fx-background-color:white;
}

#paneGameBush {
    -fx-border-color: black;
    -fx-background-color:white;
}

#paneGameNim {
    -fx-border-color: black;
    -fx-background-color:white;
}

#anchor {
    -fx-background-image: url("../Images/backStart.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1000 620;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#iphone:pressed{
    -fx-rotate: 45;

}

#line:hover {
    -fx-cursor: hand;
}

#viLabel {
    -fx-alignment: center;
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-fill: #a9ff00;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#green2 {
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
}
#green2:hover {
    -fx-background-color: #ffffff;
    -fx-cursor: hand;
    /*-fx-background-color: linear-gradient(#2A5058, #61a2b1);*/
}